blast
example
figure
paper
PARS10
sgd
variations
xlsx

# IDE
.komodotools
.idea

.RData
.Rhistory

*.xls
*.xlsx
*.doc
*.docx
*.csv
*.tsv

*.bed
*.yml

*.png
*.pdf
*.html
*.md
!README.md

*.fa
*.fas
*.fasta

# put any other files you don't want to check in here,
# such as .DS_Store (OSX), *.bak, etc.
.DS_Store
*.log
*.bak
*.swp

stat_n7.xlsx
stat_n7p.xlsx
stat_n128_Seub.xlsx
stat_n128_Spar.xlsx
