blast
example
figure
paper
PARS10
sgd
variations
xlsx

.RData
.Rhistory

*.xls
*.xlsx
*.csv
*.tsv

*.bed
*.yml

*.png
*.pdf
*.html
*.md
!README.md

*.bak
*.fa
*.fas
*.fasta

._*
.DS_Store
*.log
*.bak
~$*
